{% extends "layouts/layout.njk" %} 

{% block content %}

<div class="container">
  <h1>Start One</h1>
  <h2>Nunjucks, SASS, JavaScript, WebP.</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
    voluptatibus qui harum itaque quam doloribus temporibus odio molestiae!
    Accusantium hic asperiores adipisci ab odio labore, id harum accusamus
    necessitatibus ut!
  </p>
  <div id="box"></div>
  <picture class="outside">
    <source srcset="images/photo.webp" type="image/webp" />
    <source srcset="images/photo.jpg" type="image/jpeg" />
    <img src="images/photo.jpg" alt="Alt Text!" />
  </picture>
</div>


{% endblock %}