{% from "./components/components.njk" import image %}

{% extends "layouts/layout.njk" %} 

{% block content %}

  <header class="main-header">
   <div class="container">
    <nav class="main-nav">
        <a href="#">Home</a>
        <a href="#">Sobre</a>
        <a href="#">Produtos</a>
        <a href="#">Contato</a>
    </nav>
    </div>
  </header>
<section class="home-intro">
  <h2>Você precisa<br> conhecer!</h2>

</section>

<div class="container">
  <h1>Start One</h1>
  <h2>Nunjucks, SASS, JavaScript, WebP.</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
    voluptatibus qui harum itaque quam doloribus temporibus odio molestiae!
    Accusantium hic asperiores adipisci ab odio labore, id harum accusamus
    necessitatibus ut!
  </p>
  
  <div id="box"></div>
  {{ image('metro', 'blaus sdruviz') }}

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
    voluptatibus qui harum itaque quam doloribus temporibus odio molestiae!
    Accusantium hic asperiores adipisci ab odio labore, id harum accusamus
    necessitatibus ut!
    </p>

    {{ image('stairs', 'blaus sdruviz') }}

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
    voluptatibus qui harum itaque quam doloribus temporibus odio molestiae!
    Accusantium hic asperiores adipisci ab odio labore, id harum accusamus
    necessitatibus ut!
  </p>

    {{ image('clancy', 'blaus sdruviz') }}

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
    voluptatibus qui harum itaque quam doloribus temporibus odio molestiae!
    Accusantium hic asperiores adipisci ab odio labore, id harum accusamus
    necessitatibus ut!
    </p>

    {{ image('photo', 'blaus sdruviz') }}

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
    voluptatibus qui harum itaque quam doloribus temporibus odio molestiae!
    Accusantium hic asperiores adipisci ab odio labore, id harum accusamus
    necessitatibus ut!
    </p>
  
</div>


{% endblock %}