@import "./imports/reset";

a, a:visited {
  color: inherit;
}
html {
  font-size: 62.5%;

}
body {
  background-color: #fff;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}
#box {
  font-size: 2rem;
  background-color: lightslategray;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  width: auto;
  margin: 1.6rem 0;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  --shadow: none;
  --font: 3rem;
  padding: 1.6rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--text);
  background: var(--background);
  box-shadow: var(--shadow);
  transition: all .25s ease;
  font-size: var(--font);
  a {
    text-decoration: none;
    padding: 1.6rem;
  }
}

.scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  --font: 2rem;
  box-shadow: 1px 1px 10px rgba(0,0,0, .25)
}

.home-intro{
  background-color: lightpink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bg.webp) no-repeat center center;
  background-size: cover;
  color: #f4f4f4;
}

.no-webp {
  .home-intro {
    background: url(../images/bg.jpg) no-repeat center center; 
  }
}