@import "./imports/reset.scss";

html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}
#box {
  font-size: 2rem;
  background-color: lightslategray;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  width: auto;
  margin: 1.6rem 0;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}
